<!DOCTYPE html>
<!-- saved from url=(0042)http://bootstrapk.com/examples/jumbotron/# -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="rockpell">
    <link rel="icon" href="./no_title.png">
    <title>13Trend</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Trend</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="real">Real Time</a>
                    </li>
                    <li class="active">
                        <a>Search</a>
                    </li>
                    <li>
                        <a href="alarm">Alarm</a>
                    </li>
                </ul>
                <% if(!logOn) {%>
                <form class="navbar-form navbar-right" action="/searchIn" method="POST">
                    <div class="form-group">
                        <input type="text" placeholder="ID" class="form-control" id="userId" name="userId">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control" id="userPassword" name="userPassword">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                    <a class="btn btn-success" href="./SignUp.html" role="button">Sign up</a>
                </form>
                <% }%>
                <% if(logOn) {%>
                <form class="navbar-form navbar-right" action="/search" method="POST">
                    <div class="form-group">
                        <span class="label label-success">환영합니다 <%= name %>님</span>
                    </div>
                    <button type="submit" class="btn btn-success">Sign out</button>
                </form>
                <% }%>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Search</h1>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <% if(logOn) {%>
        <form class="form" action="/searchRequestIn" method="POST">
        <% }%>
        <% if(!logOn) {%>
        <form class="form" action="/searchRequest" method="POST">
        <% }%>
            <div class = "form-group">
                <lable for="exampleStartDate">Start Date</lable>
                <input class = "form-control" id="startDate" type="date" name="startDate" value="2018-05-01">
            </div>
            <div class = "form-group">
                <lable for="exampleEndDate">End Date</lable>
                <input class = "form-control" id="endDate" type="date" name="endDate" value="2018-06-01">
            </div>
            <div class="form-group">
                <input class = "form-control" type="text" placeholder = "검색어입력" id="searchText" name="searchText">
            </div>
            <button type="submit" class = "btn btn=secondary" type = "button">찾기</button>
            
        </form>
        
        <br><br>
        <div class="row">
            <svg width="1000" height="300"></svg>
        </div>
        <hr>
        <footer>
            <p>© 13Trend</p>
        </footer>
    </div>
    <!-- /container -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <style>
    svg { 
        border: 1px solid;
    } 
    .bar { 
    fill: skyblue;  
    } 
    .bar:hover {
    fill: blue; 
    } 
    .text { 
    fill: white; font-weight:bold; 
    } 
    </style>
    
    <script>
// var dataset = [{x:'A', y:9 }, {x:'B', y:19}, {x:'C', y:29}, {x:'D', y:39}, {x:'E', y:29}, {x:'F', y:19}, {x:'G', y:9 },{x: 'H', y:3}, {x: 'ZZ', y:48}, {x: 'ZA', y:50}, {x: 'ZB', y:51}, {x: 'ZC', y:52}, {x: 'ZD', y:53}, {x: 'ZF', y:83}];
var dataset = <%- JSON.stringify(datas)%>;
var svg = d3.select("svg");
var width  = parseInt(svg.style("width"), 10)-30;
var height = parseInt(svg.style("height"), 10)-20;
var xScale = d3.scaleBand()
    .domain(dataset.map(function(d) { return d.x;} ))
    .range([0, width]).padding(0.2);

var svgG = svg.append("g")
    .attr("transform", "translate(30,0)")

var yScale = d3.scaleLinear()
    .domain([0, d3.max(dataset, function(d){return d.y;})])
    .range([height, 0]);

svgG.selectAll("rect")
    .data(dataset)
    .enter().append("rect")
        .attr("class", "bar")
        .attr("height", function(d, i) {return height-yScale(d.y)})
        .attr("width", xScale.bandwidth())
        .attr("x", function(d, i) {return xScale(d.x)})
        .attr("y", function(d, i) {return yScale(d.y)});
    
svgG.selectAll("text")
    .data(dataset)
    .enter().append("text")
    .text(function(d) {return d.y})
        .attr("class", "text")
        .attr("x", function(d, i) {return xScale(d.x)+xScale.bandwidth()/2})
        .style("text-anchor", "middle")
        .attr("y", function(d, i) {return yScale(d.y) + 15});
    
svgG.append("g")
    .attr("transform", "translate(0," + (height) + ")")
    .call(d3.axisBottom(xScale));

svgG.append("g")
    .call(d3.axisLeft(yScale).ticks(5));
    </script>
</body>

</html>